<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#71c3a6">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154590414-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154590414-2');
</script>

<!-- TypeKit -->
<link rel="stylesheet" href="https://use.typekit.net/gpp2vsx.css">

<!-- local overrides -->
<link rel="stylesheet" href="/assets/css/overrides.css">

<!-- Search Engine -->
<meta name="description" content="A Tory MP runs an app charging food banks £180 for the privilege of being listed. Let's do better.">
<meta name="image" content="https://tory-toolkit.github.io/assets/images/social-header.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Tory Survival Toolkit">
<meta itemprop="description" content="A Tory MP runs an app charging food banks £180 for the privilege of being listed. Let's do better.">
<meta itemprop="image" content="https://tory-toolkit.github.io/assets/images/social-header.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Tory Survival Toolkit">
<meta name="twitter:description" content="A Tory MP runs an app charging food banks £180 for the privilege of being listed. Let's do better.">
<meta name="twitter:site" content="@torytoolbox">
<meta name="twitter:creator" content="@torytoolbox">
<meta name="twitter:image:src" content="https://tory-toolkit.github.io/assets/images/social-header.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:title" content="Tory Survival Toolkit">
<meta property="og:description" content="A Tory MP runs an app charging food banks £180 for the privilege of being listed. Let's do better.">
<meta property="og:image" content="https://tory-toolkit.github.io/assets/images/social-header.jpg">
<meta property="og:url" content="https://tory-toolkit.github.io">
<meta property="og:site_name" content="Tory Survival Toolkit">
<meta property="og:locale" content="en_GB">
<meta property="fb:admins" content="284000655">
<meta property="og:type" content="website">
